// Colores 
$MS-navyblue: #1C2D4A;
$MS-deepblue: #0373B2;
$MS-brightblue: #0283C8;
$MS-lightblue: #0695D8;

$MS-danger: #ff4d4d;
$MS-success: #4CAF50;
$MS-gray: #333;

// Breakpoints
$breakpoint-mobile-start: 200px;
$breakpoint-mobile: 500px;
$breakpoint-tablet-start: 501px;
$breakpoint-tablet: 980px;
$breakpoint-laptop-start: 981px;
$breakpoint-laptop: 1439px;
$breakpoint-desktop-start: 1440px;
